#root {
  max-width: 1280px;
}

.App {
  background-color: #DAD7CD;
  color: #344E41;
  min-height: 100vh
}

.main {
  padding: 2rem 1rem;
}

.modalStyle {
  background-color: #A3B18A;
  color: #344E41;
}

#modalStyle {
  background-color: #A3B18A;
  color: #344E41;
}

#buttonStyle1 {
  background-color: #588157;
  color: #DAD7CD;
  width: 45%;
}

#buttonStyle2 {
  background-color: #DAD7CD;
  color: #588157;
  width: 45%;
  border: none;
}

.modalStyle input[type=text] {
  background-color: #DAD7CD;
  color: #344E41;
}

.fileInputBoxStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DAD7CD;
  width: 200px;
  height: 200px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.fileInputBoxStyle svg {
  width: 25%;
  height: 25%;
}

.fileInputBoxStyle img {
  width: 100%;
  height: 100%;
  object-fit: contain
}